:root {
    --myorange: #F3533D;
    --myblack: #3E3C3E;
    --mypurple: #9092D4;
    --cream: #FFE5CD;
}

.bg-navbar {
    background-color: var(--myblack);
    color: white;
}

.bg-navbar-item {
    text-decoration: none;
}

.bg-navbar-item:hover {
    color: var(--myorange);
    text-decoration: underline;
}

.mobile-nav-item:hover {
    background-color: var(--myorange) !important;
    color: white !important;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.mobile-nav-selected {
    font-weight: 700;
}

.hero {
    background-color: var(--myblack);
    color: white;
    height: 70vh;
}

.hero-extra {
    background-color: var(--myblack);
    color: white;
    height: 22.7vh;
}

.hero-extra button {
    background-color: var(--mypurple);
    color: var(--myblack);
}

.andy {
    color: var(--myorange) !important;
}

.hero-img {
    position: absolute;
    bottom: 0;
    left: -100px;
}

.about {
    background-color: var(--cream);
    color: var(--myblack);
}

.about-heading {
    color: var(--myorange) !important;
}

.about-content a {
    color: var(--myorange);
    text-decoration: underline;
}

.technologies {
    background-color: var(--myblack);
    color: white;
}